<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
{% load staticfiles %}
<head>

    <title>{% block title %}Title{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />

</head>

<body>
    <div id="meniu">
        {% block meniu %}
        <ul>
            <li><a href="{% url 'word_list' %}">Žodžių sąrašas</a></li>
            <li><a href="{% url 'new_word' %}">Pridėti žodį</a></li>
        </ul>
        {% endblock %}
    </div>
    {%block content %}
    {%endblock %}
</body>
</html>

